/**
 * Bulma overrides
 */

// Initial variables
$family-sans-serif: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
$blue: #03298D;
$green: #7AB820;
$red: #8D2F19;

// Primary colors
$primary: #1D43A7;

@import "bulma.sass";