# Logs
logs
*.log
*.log.*

# Windows files
Thumbs.db

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# VS Code stuff
/typings

# Build and package output
/out
/tmp
/publish

# IntelliJ Idea
.idea
*/.idea/*
*.iml

*.DS_Store
.DS_Store
